@charset "UTF-8";
/* FONT
===============================================================================================
=============================================================================================== */
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'YOUR_NAME';
  src: url(PATH) format("truetype"); }
/* File parziale per i mixin. Sar├á poi importato dal file principale */
/* MIXINS
===============================================================================================
=============================================================================================== */
/* BREAKPOINT 0 ( DEFAULT ) - Small devices (tablets, 768px and up)
============================================================================= */
body {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  /* per la navbar di bootstrap */ }

img {
  max-width: 100%;
  height: auto; }

/* per annullare quel padding fastidioso messo di default da bootstrap */
.container-fluid.no-padding {
  padding: 0; }
  .container-fluid.no-padding .row {
    margin-left: 0;
    margin-right: 0; }

#outlineFooter {
  background-color: #222222;
  color: #eeeeee; }
  #outlineFooter div {
    text-align: center; }
    #outlineFooter div h1 {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold;
      border-bottom: 1px solid #cc0000; }
    #outlineFooter div p {
      padding: 0.5rem;
      text-align: justify; }

.post {
  position: relative;
  padding: 0.1rem !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .post header h1 {
    font-size: 1.5rem;
    color: #880000;
    text-transform: capitalize; }
  .post .postText {
    display: none; }
  .post footer {
    font-size: 0.8rem; }
    .post footer .goToPost {
      display: none; }
  .post .only-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .post .only-mobile a {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      z-index: 10; }
      .post .only-mobile a::after {
        content: "\0003E";
        z-index: 10;
        font-size: 2.1rem;
        color: #555555;
        position: absolute;
        right: 1rem;
        top: 20%;
        transform: scaleY(1.5);
        -moz-transform: scaleY(1.5);
        -webkit-transform: scaleY(1.5); }
      .post .only-mobile a:hover {
        text-decoration: none;
        color: #555555; }
  .post:last-of-type {
    border-bottom: none; }

/* BREAKPOINT 1 - Small devices (tablets, 768px and up)
============================================================================= */
/* BREAKPOINT 2 - Medium devices (desktops, 992px and up)
============================================================================= */
/* BREAKPOINT 3 - Large devices (large desktops, 1200px and up)
============================================================================= */

/*# sourceMappingURL=front.css.map */
