html{
    font-size: 100%;
}

body{
    font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 50px; /* per la navbar di bootstrap */
    background-color: #eeeeee;
}

textarea{
    resize: vertical;
    min-height: 5rem;
    max-height: 25rem;
}

.fillTheContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fullHeight{
    height: 100%;
}

button, a{
    outline: none !important;
    text-decoration: none !important;
}


.handlebarsButton{
    background-color: #007700;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 0.9rem;
    padding: 0.4rem 0.9rem;
    @include transition(all .5s ease);

    &::before{
        content: "\007B";
        font-weight: bold;
        position: relative;
        left: 1rem;
        opacity: 0;
        @include transition(all .5s ease);
    }

    &::after{
        content: "\007D";
        font-weight: bold;
        position: relative;
        right: 1rem;
        opacity: 0;
        @include transition(all .5s ease);
    }

    &:hover, &:focus{
        text-decoration: none;
        background-color: #005500;
        color: #ffffff;

        &::before{
            left: -0.2rem;
            opacity: 1;
        }

        &::after{
            right: -0.2rem;
            opacity: 1;
        }
    }

    &:active{
        position: relative;
        top: 1px;
        left: 1px;
    }
}


button.handlebarsButton{
    border: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* per annullare quel padding fastidioso messo di default da bootstrap */
.container-fluid.no-padding{
    padding: 0;

    .row{
        margin-left: 0;
        margin-right: 0;
    }


    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0;
        min-height: 0;
    }
}

#outlineMenu{
    background-color: #222222;
    background-image: none;

    #brandIcon{

        color: #cc6600;
        height: 50px;
        line-height: 50px;
        padding: 0 1rem;
        margin-left: -15px;

    }

    .nav.navbar-nav{

        li{

            span{
                margin-right: 0.5rem;
            }

            &.active{

                &:nth-of-type(1){
                    span{
                        color: #aa0000;
                    }
                }

                &:nth-of-type(2){
                    span{
                        color: #00aa00;
                    }
                }

            }
        }
    }

}

#outlineFooter{

    background-color: #222222; // possibile variabile
    color: #eeeeee; // possibile variabile

    div{
        text-align: center;

        h1{
            display: inline-block;
            font-size: 1.5rem;
            font-weight: bold;
            border-bottom: 1px solid #cc0000;
        }

        p{
            padding: 0.5rem;
            text-align: justify;
        }
    }

}




// BACK-END
// =============================================================================
// =============================================================================

#leftCol{
    height: 100%;
    background-color: #222222;

    li{
        margin: 0;

        a{
            color: #ffffff;
            border-radius: 0;

            &:hover{
                color: #770000;
            }


            &:focus{
                color: #770000;
            }
        }

        &.active{

            a{
                background-color: #770000;
                position: relative;

                &:hover{
                    color: #ffffff;
                }

                &::after{

                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-right: 0.5rem solid #eeeeee;
                    border-top: 0.5rem solid transparent;
                    border-bottom: 0.5rem solid transparent;
                    position: absolute;
                    right: 0;
                }

            }
        }

    }


}

#login{

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #c0c0c0;
    margin: 10% auto auto;
    width: 60%;
    max-width: 700px;
    min-width: 400px;
    padding: 1rem;

    #profileImage{

        margin: -1rem -1rem 2rem -1rem;
        padding: 2rem 0;
        text-align: center;

        background: rgb(216,224,222); /* Old browsers */
        background: -moz-linear-gradient(45deg,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 10%, rgba(153,175,171,1) 22%, rgba(142,166,162,1) 35%, rgba(130,157,152,1) 51%, rgba(78,92,90,1) 82%, rgba(14,14,14,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(216,224,222,1)), color-stop(10%,rgba(174,191,188,1)), color-stop(22%,rgba(153,175,171,1)), color-stop(35%,rgba(142,166,162,1)), color-stop(51%,rgba(130,157,152,1)), color-stop(82%,rgba(78,92,90,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 10%,rgba(153,175,171,1) 22%,rgba(142,166,162,1) 35%,rgba(130,157,152,1) 51%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 10%,rgba(153,175,171,1) 22%,rgba(142,166,162,1) 35%,rgba(130,157,152,1) 51%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 10%,rgba(153,175,171,1) 22%,rgba(142,166,162,1) 35%,rgba(130,157,152,1) 51%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* IE10+ */
        background: linear-gradient(45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 10%,rgba(153,175,171,1) 22%,rgba(142,166,162,1) 35%,rgba(130,157,152,1) 51%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


        img{
            height: 5rem;
            width: 5rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }


    button{
        height: 2.5rem;
        width: 100%;
    }

}

#outlineBodyBack{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    #myCarousel{

        #carouselSlider{

            .page{

                table{
                    width: 90%;
                    margin: 3rem auto 0;

                    tr.insertRow{
                        td{
                            &:first-of-type{
                                background-color: #222222;
                                color: #ffffff;
                            }

                            &:last-of-type{
                                background-color: #008800;

                                a{
                                    display: block;

                                    span.glyphicon{
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }

                    th, td{
                        text-align: center;
                    }

                    a{
                        cursor: pointer;

                        span.glyphicon{
                            margin-left: 0.2rem;
                            margin-right: 0.2rem;

                        }

                        &.previewButton{
                            span.glyphicon{
                                color: #555555;
                            }
                        }

                        &.editButton{
                            span.glyphicon{
                                color: #006699;
                            }
                        }

                        &.removeButton{
                            span.glyphicon{
                                color: #aa0000;
                            }
                        }
                    }

                }
            }
        }
    }
}

