
/* FONT
===============================================================================================
=============================================================================================== */
@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Light.ttf") format('truetype');
}

// ... tutti i font-face che vuoi ...

@font-face {
    font-family: 'YOUR_NAME';
    src: url(PATH) format('truetype');
}