
#myCarousel{
    overflow-y: hidden;
    overflow-x: hidden;

    #carouselSlider{
        white-space: nowrap;
        @include transform-origin(center center);

        &.normalTransition{
            @include transition(transform .7s ease, max-height .5s ease .5s);
        }

        &.reverseTransition{
            @include transition(max-height .5s ease, transform .7s ease .4s);
        }

        .page{
            white-space: normal;
            vertical-align: top;
            display: inline-block;
            width: 100%;
        }
    }

    #paginationContainer{
        text-align: center;

        ul.pagination{

            li{
                a{
                    background-color: #222222;
                    border: 1px solid #444444;
                    color: #ffffff;
                    @include transition(background-color .3s ease);

                    &:hover{
                        background-color: #444444;
                    }

                }

                &.active{
                    a{
                        background-color: #770000;
                        border-color: #770000;
                    }
                }
            }
        }
    }
}