

/*

NOTA: separo nettamente tra versione per smartphone e le altre versioni
      dato che sono molto differenti tra loro xD
      è meglio usare l'approccio mobile-first di "enanchement" dal tablet in poi

*/

@media (max-width: 767px) {

    .not-mobile{
        display: none;
    }

    h1.hooked{
        font-size: 1.5rem;
        color: #ffffff;
        background-color: #770000;
        padding: 1rem 0;
        text-align: center;
        margin: auto;
        text-transform: capitalize;
        position: relative;

        &::after, &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            z-index: 10;
        }

        &::before{
            top: -0.7rem;
            border-top: 0.8rem dashed #770000;
        }

        &::after{
            bottom: -1rem;
            border-bottom: 1.1rem dashed #770000;
        }
    }


    #outlineMenu{

        #brandIcon{

            margin-left: 0;
        }
    }


    /* POST LIST
    ========================================================================= */

    .sectionTitle.only-mobile{

        h1{

            &::after{
                bottom: -0.3rem;
                border-bottom: 0.4rem dashed #770000;
            }
        }
    }

    .postContainer{

        .post{
            position: relative;
            height: 8rem;
            background-color: #ffffff;
            box-shadow: 0 0 3px #c0c0c0;

            header{

                position: absolute;
                left: 8rem;
                top: 1rem;

                h1{

                    margin: auto;
                    color: #770000;
                    font-size: 1.3rem;

                }
            }

            .postText{

                display: none;

            }

            .postImage{

                height: 6rem;
                position: relative;
                top: 50%;
                left: 1rem;
                @include transform(translate3d(0, -50%, 0));


                img{
                    height: 6rem;
                    object-fit: cover;
                    width: 6rem;
                    border-radius: 50%;
                    box-shadow: 0 0 3px 1px #222222;
                }
            }

            footer{
                position: absolute;
                left: 8.5rem;
                top: 3rem;
                font-size: 0.8rem;

                .postDate{
                    p{
                    }
                }

                .goToPost{
                    display: none;
                }
            }

            span.only-mobile{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                a{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    z-index: 100;

                    span{
                        position: absolute;
                        top: 50%;
                        right: 1rem;
                        font-size: 2.1rem;
                        color: #aa0000;
                        @include transform(translate3d(0, -50%, 0));
                    }

                    &:hover{
                        text-decoration: none;
                        color: #555555;
                    }
                }
            }
        }

    }

    /* POST CARD
    ========================================================================= */

    #postCardContainer{

        #postCard{

            header{

                h1{

                }
            }

            .postImage{

                img{
                    width: 100%;
                    height: 15rem;
                    object-fit: cover;
                }
            }

            .mobilePostContent{
                width: 90%;
                margin: auto;
                box-shadow: 0 0 2px #555555;
                background-color: #ffffff;
            }

            .postCardText{

                &>div{
                    padding: 0 1rem;
                    margin: 2.5rem auto 5rem;
                    font-size: 0.9rem;
                }
            }

            footer{

                .postCardDate{
                    margin-bottom: 1.5rem;

                    p{
                        background-color: #770000;
                        color: #fff;
                        display: inline-block;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        padding-left: 0.3rem;
                        width: 8rem;

                        &::after{
                            border-bottom: 0.8rem solid #770000;
                            border-right: 0.8rem solid #fff;
                            border-top: 0.8rem solid #770000;
                            content: "";
                            float: right;
                        }
                    }
                }
            }

        }
    }


    /* GALLERY
    ========================================================================= */
    #myCarousel.galleryCarousel{

        .galleryColumn{

            .imageContainer{
                padding: 0.5rem;
                text-align: center;
                margin: 1rem auto;

                img{
                    border-radius: 50%;
                    width: 10rem;
                    height: 10rem;
                    box-shadow: 0 0 3px #222222;
                    object-fit: cover;
                }
            }
        }
    }


    /* BACKEND
    ========================================================================= */

    #leftCol{
        float: none;
        width: 100%;
        height: auto;

        li{
            float: left;

            &.active{

                a::after{
                    border-top: none;
                    border-bottom: 0.5rem solid #eeeeee;
                    border-left: 0.5rem solid transparent;
                    border-right: 0.5rem solid transparent;
                    bottom: 0;
                    left: 50%;
                    @include transform(translate3d(-50%, 0, 0));
                }
            }

        }

    }

    #outlineBodyBack{

        width: 100%;
        height: auto;
        overflow-y: visible;

    }


}